<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">List Builder (single selection)</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="2">
    <ids-layout-grid-cell>
      <ids-list-builder #listBuilder height="310px" selectable="single" id="list-builder-1"></ids-list-builder>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>