<ids-container 
  #pageContainer 
  language="en" 
  [locale]="'en-US'" 
  padding="8" 
  hidden
  (localechange)="handleLocaleChange()"
>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid cols="3" gap="md">
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Masked Inputs (Localized Dates)</ids-text>
    </ids-layout-grid-cell>
  </ids-layout-grid>

  <!-- <ids-layout-grid cols="1" gap="md">
    <ids-layout-grid-cell>
      <ids-dropdown id="locales" size="sm" label="Choose Locale" dirty-tracker="true" [value]="'en-US'">
        <ids-list-box>
          <ids-list-box-option [attr.value]="'en-US'">en-US</ids-list-box-option>
          <ids-list-box-option [attr.value]="'de-DE'"></ids-list-box-option>
          <ids-list-box-option [attr.value]="'ru-RU'">ru-RU</ids-list-box-option>
          <ids-list-box-option [attr.value]="'bg-BG'">bg-BG</ids-list-box-option>
          <ids-list-box-option [attr.value]="'he-IL'">he-IL</ids-list-box-option>
          <ids-list-box-option [attr.value]="'hr-HR'">hr-HR</ids-list-box-option>
          <ids-list-box-option [attr.value]="'ar-EG'">ar-EG</ids-list-box-option>
          <ids-list-box-option [attr.value]="'th-TH'">th-TH</ids-list-box-option>
          <ids-list-box-option [attr.value]="'zh-TW'">zh-TW</ids-list-box-option>
        </ids-list-box>
      </ids-dropdown>
    </ids-layout-grid-cell>
  </ids-layout-grid> -->

  <ids-layout-grid cols="3" gap="md">
    <ids-layout-grid-cell>
      <ids-input #maskDateShort id="mask-date-short" size="sm" label="Short Date"></ids-input>
    </ids-layout-grid-cell>
  </ids-layout-grid>

  <ids-layout-grid cols="3" gap="md">
    <ids-layout-grid-cell>
      <ids-input #maskDateTime id="mask-date-time" size="sm" label="Timestamp"></ids-input>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>