<ids-container padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>

  <ids-layout-grid auto-fit="true" padding="md">
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Accordion (Nested)</ids-text>
    </ids-layout-grid-cell>
  </ids-layout-grid>

  <ids-layout-grid cols="2" gap="md" padding-x="md" class="ids-layout-grid">
    <ids-layout-grid-cell class="ids-layout-grid-cell">
      <ids-accordion id="keep-expander-placement-nested" keep-expander-placement="true">
        <ids-accordion-panel expanded="false" (selected)="handleSelection('Level 1')">
          <ids-accordion-header slot="header" aria-expanded="true" selected="true">
            <ids-text font-size="16" >Level 1</ids-text>
          </ids-accordion-header>
          <ids-accordion-panel expanded="false" slot="content" (selected)="handleSelection('Level 2')">
            <ids-accordion-header slot="header" icon="user" aria-expanded="false">
              <ids-text font-size="16">Level 2</ids-text>
            </ids-accordion-header>
            <ids-accordion-panel slot="content" (selected)="handleSelection('Level 3')">
              <ids-accordion-header slot="header" aria-expanded="false">
                <ids-text font-size="16">Level 3</ids-text>
              </ids-accordion-header>
            </ids-accordion-panel>
          </ids-accordion-panel>
        </ids-accordion-panel>
      </ids-accordion>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>
