.main-list a {
  text-decoration: none;
}

.main-list [slot='card-content'] {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0 8px;
  width: 100%;
}
