<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Breadcrumb</ids-text>
  </ids-layout-grid>

  <ids-layout-grid auto-fit="true" padding="md">
    <ids-breadcrumb #breadcrumb>
      <ids-hyperlink font-size="14" text-decoration="hover" href="#0">First Item</ids-hyperlink>
      <ids-hyperlink font-size="14" text-decoration="hover" href="#0">Second Item</ids-hyperlink>
      <ids-hyperlink font-size="14" text-decoration="hover" [disabled]="true">Disabled Item</ids-hyperlink>
      <ids-hyperlink font-size="14" text-decoration="hover">Current Item</ids-hyperlink>
    </ids-breadcrumb>
  </ids-layout-grid>
</ids-container>