<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Multiselect + Dropdown</ids-text>
  </ids-layout-grid>

  <ids-layout-grid auto-fit="true" padding="md">
    <ids-layout-grid-cell>
      <ids-multiselect id="dropdown-5" label="Multiselect (max choices 3)">
        <ids-list-box class="options">
      
          <ng-container *ngFor="let option of coldStates">
            <ids-list-box-option class="multiselect-option" [id]="option.id" [value]="option.value" [tooltip]="option.tooltip">
              <ids-checkbox no-margin [label]="option.label" class="justify-center"></ids-checkbox>
            </ids-list-box-option>
          </ng-container>
          <ids-list-box-option class="multiselect-option"
            [id]="hotStates[0].id"
            [value]="hotStates[0].value"
            [tooltip]="hotStates[0].tooltip"
          >
            <ids-checkbox no-margin
              [label]="hotStates[0].label"
              class="justify-center"
            ></ids-checkbox>
          </ids-list-box-option>
          <ids-list-box-option class="multiselect-option"
            [id]="hotStates[1].id"
            [value]="hotStates[1].value"
            [tooltip]="hotStates[1].tooltip"
          >
            <ids-checkbox no-margin
              [label]="hotStates[1].label"
              class="justify-center"
            ></ids-checkbox>
          </ids-list-box-option>
        </ids-list-box>
      </ids-multiselect>
    </ids-layout-grid-cell>





    <ids-layout-grid-cell>
      <ids-dropdown id="dropdown-5" label="Dropdown (max choices 3)">
        <ids-list-box class="options">
      
          <ng-container *ngFor="let option of coldStates">
            <ids-list-box-option class="multiselect-option" [id]="option.id" [value]="option.value" [tooltip]="option.tooltip">
              <ids-checkbox no-margin [label]="option.label" class="justify-center"></ids-checkbox>
            </ids-list-box-option>
          </ng-container>
          <ids-list-box-option class="multiselect-option"
            [id]="hotStates[0].id"
            [value]="hotStates[0].value"
            [tooltip]="hotStates[0].tooltip"
          >
            <ids-checkbox no-margin
              [label]="hotStates[0].label"
              class="justify-center"
            ></ids-checkbox>
          </ids-list-box-option>
          <ids-list-box-option class="multiselect-option"
            [id]="hotStates[1].id"
            [value]="hotStates[1].value"
            [tooltip]="hotStates[1].tooltip"
          >
            <ids-checkbox no-margin
              [label]="hotStates[1].label"
              class="justify-center"
            ></ids-checkbox>
          </ids-list-box-option>
        </ids-list-box>
      </ids-dropdown>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>