<ids-container padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>

  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">List Box (single selection)</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="2">
    <ids-layout-grid-cell>
      <ids-list-box id="list-box-1">
        <ids-list-box-option>Option One</ids-list-box-option>
        <ids-list-box-option>Option Two</ids-list-box-option>
        <ids-list-box-option>Option Three</ids-list-box-option>
      </ids-list-box>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>