<ids-container padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>

  <ids-layout-grid cols="3" gap="md" padding="md">
    <ids-text font-size="12" type="h1">FormControl and value binding</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="3" gap="md" padding-x="md">
    <ids-layout-grid-cell>
      <ids-radio-group label="IDS Radio Group (radio two should be checked)" [formControl]="testRadio" ngDefaultControl>
        <ids-radio [value]="radio1" label="radio one"></ids-radio>
        <ids-radio [value]="radio2" label="radio two"></ids-radio>
        <ids-radio [value]="radio3" label="radio three"></ids-radio>
      </ids-radio-group>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>
