<ids-layout-grid>
  <ids-layout-grid-cell>
    <ids-text font-size="12">Tag with template reference variable</ids-text>
    <ids-tag #myTag>{{name}}</ids-tag>
  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid>
  <ids-layout-grid-cell>
    <ids-text font-size="12">Tag with bound property</ids-text>
    <ids-tag [color]="type">{{person}}</ids-tag>
    <input [(ngModel)]="type" value='{{type}}'/>
  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid>
  <ids-layout-grid-cell>
    <ids-text font-size="12">Dismissible tag with keyboard events</ids-text>
    <ids-tag [color]="type">{{person}}<ids-icon icon="caret-right" size="small"></ids-icon></ids-tag>
  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid>
  <ids-layout-grid-cell>
    <ids-text font-size="12">Tag with events</ids-text>
    <ids-tag dismissible="true" (tagremoved)="onTagRemoved($event)" (beforetagremoved)="onTagRemoved($event)">
      <span>Dismissible Tags</span>
    </ids-tag>
  </ids-layout-grid-cell>
</ids-layout-grid>

<ids-layout-grid>
  <ids-layout-grid-cell>
    <ids-text font-size="12">Tag list in a loop</ids-text>
    <ids-tag *ngFor="let tag of tagList" [color]="tag.type">{{tag.name}}</ids-tag>
  </ids-layout-grid-cell>
</ids-layout-grid>
