<div routerActiveLinkActive="active-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <ids-layout-grid>
    <ids-label font-size="24">IDS Web Components Samples</ids-label>
  </ids-layout-grid>
  <ids-layout-grid>
    <ids-layout-column>
      <ids-label font-size="14">
        <ul class="link-list">
          <li>
            <ids-icon icon="folder" size="medium"></ids-icon>
            <a href="" routerLink="components/label">Label</a>
          </li>
          <li>
            <ids-icon icon="folder" size="medium"></ids-icon>
            <a href="" routerLink="components/tag">Tag</a>
          </li>
        </ul>
      </ids-label>
    </ids-layout-column>
  </ids-layout-grid>
</div>

<router-outlet></router-outlet>
