<ids-container role="main" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Splitter</ids-text>
  </ids-layout-grid>

  <div class="demo-splitter">
    <ids-splitter #IdsSplitter>
      <ids-splitter-pane id="splitter-left" size="30%">
        <ids-text type="p">left pane</ids-text>
      </ids-splitter-pane>
      <ids-splitter-pane id="splitter-right">
        <ids-text type="p">right pane</ids-text>
      </ids-splitter-pane>
    </ids-splitter>
  </div>
</ids-container>