<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">List Builder (Multiple Selection)</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="2">
    <ids-layout-grid-cell>
      <ids-list-builder 
        #listBuilder 
        height="310px" 
        selectable="multiple" 
        id="list-builder-2" 
        hide-checkboxes="true"
      ></ids-list-builder>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>