<ids-layout-grid auto="true">
  <ids-text font-size="12" type="h1">Scroll View</ids-text>
</ids-layout-grid>
<ids-layout-grid cols="4">
  <ids-layout-grid-cell col-span="1">
    <ids-scroll-view>
      <img #camera1Img src='./assets/images/camera-1.png' class="camera-1" slot="scroll-view-item" alt="Slide 1, Sony Camera, Front"/>
      <img #camera2Img class="camera-2" slot="scroll-view-item" alt="Slide 3, Sony Camera, Back Display"/>
      <img #camera3Img class="camera-3" slot="scroll-view-item" alt="Slide 3, Sony Camera, From Top"/>
      <img #camera4Img class="camera-4" slot="scroll-view-item" alt="Slide 4, Olympus Camera, Front"/>
      <img #camera5Img class="camera-5" slot="scroll-view-item" alt="Slide 5, Olympus Camera, Exposed to water"/>
      <img #camera6Img class="camera-6" slot="scroll-view-item" alt="Slide 6, Sony E-mount Camera, Front"/>
    </ids-scroll-view>
  </ids-layout-grid-cell>
</ids-layout-grid>