<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Scroll View</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="1" cols-md="4" padding-x="md">
    <ids-layout-grid-cell col-span="1">
      <ids-scroll-view #scrollview>
        <img src='./assets/images/camera-1.png' class="camera-1" slot="scroll-view-item" alt="Slide 1, Sony Camera, Front"/>
        <img src='./assets/images/camera-2.png' class="camera-2" slot="scroll-view-item" alt="Slide 3, Sony Camera, Back Display"/>
        <img src='./assets/images/camera-3.png' class="camera-3" slot="scroll-view-item" alt="Slide 3, Sony Camera, From Top"/>
        <img src='./assets/images/camera-4.png' class="camera-4" slot="scroll-view-item" alt="Slide 4, Olympus Camera, Front"/>
        <img src='./assets/images/camera-5.png' class="camera-5" slot="scroll-view-item" alt="Slide 5, Olympus Camera, Exposed to water"/>
        <img src='./assets/images/camera-6.png' class="camera-6" slot="scroll-view-item" alt="Slide 6, Sony E-mount Camera, Front"/>
      </ids-scroll-view>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>