<ids-container padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid cols="4" gap="md" padding-x="md">
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Checkbox States</ids-text><br />
      <ids-checkbox label="Unchecked"></ids-checkbox>
      <ids-checkbox label="Checked" checked="true"></ids-checkbox>
      <ids-checkbox label="Disabled and unchecked" disabled="true"></ids-checkbox>
      <ids-checkbox label="Disabled and checked" checked="true" disabled="true"></ids-checkbox>
      <ids-checkbox label="Required" validate="required"></ids-checkbox>
      <ids-checkbox label="Not Animated" no-animation="true"></ids-checkbox>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Checkbox with no label</ids-text><br />
      <ids-checkbox label="UnChecked" label-audible="true" label-state="hidden"></ids-checkbox>
      <ids-checkbox label="Checked" checked="true" label-audible="false" label-state="hidden"></ids-checkbox>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Colored Checkbox</ids-text><br />
      <ids-checkbox checked="true" color="emerald" label="Emerald"></ids-checkbox>
      <ids-checkbox checked="true" color="amethyst" label="Amethyst"></ids-checkbox>
      <ids-checkbox checked="true" color="azure" label="Azure"></ids-checkbox>
      <ids-checkbox checked="true" color="amber" label="Amber"></ids-checkbox>
      <ids-checkbox checked="true" color="ruby" label="Ruby"></ids-checkbox>
      <ids-checkbox checked="true" color="ruby" label="Ruby (disabled)" disabled="true"></ids-checkbox>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Indeterminate Checkbox</ids-text><br />
      <ids-checkbox 
        #indeterminateCheckboxRef 
        label="Indeterminate" 
        indeterminate="true" 
        id="cb-indeterminate"></ids-checkbox>
      <ids-button appearance="secondary" id="btn-set-indeterminate" (click)="setIndeterminate()">
        <span>Set</span>
      </ids-button>
      &nbsp;
      <ids-button appearance="secondary" id="btn-remove-indeterminate" (click)="removeIndeterminate()">
        <span>Remove</span>
      </ids-button>

      <br /><br />
      <ids-text font-size="12" type="h1">Horizontal Checkbox</ids-text><br />

      <ids-checkbox label="Option 1 I am long" horizontal="true"></ids-checkbox>
      <ids-checkbox label="Option 2" horizontal="true" checked="true"></ids-checkbox>
      <ids-checkbox label="Option 3" horizontal="true" checked="true"></ids-checkbox>
    </ids-layout-grid-cell>

    <!--
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Ids Checkbox with Hitbox</ids-text><br />
      <ids-checkbox label="Unchecked" hitbox="true"></ids-checkbox>
      <ids-checkbox label="Checked" checked="true" hitbox="true"></ids-checkbox>
      <ids-checkbox
        label="Can store up to about a gigabyte of text, even though controls on forms and reports can only display the first 64,000 characters."
        checked="true" hitbox="true"></ids-checkbox>
      <ids-checkbox label="Dirty tracking" dirty-tracker="true" hitbox="true"></ids-checkbox>
      <ids-checkbox label="Disabled and unchecked" disabled="true" hitbox="true"></ids-checkbox>
      <ids-checkbox label="Disabled and checked" checked="true" disabled="true" hitbox="true"></ids-checkbox>
      <ids-checkbox label="Required" validate="required" hitbox="true"></ids-checkbox>
    </ids-layout-grid-cell>
    -->
  </ids-layout-grid>
</ids-container>