<form [formGroup]="testForm" (ngSubmit)="onFormSubmit()">
  <ids-container padding="8" hidden>
    <ids-theme-switcher mode="light" version="new"></ids-theme-switcher>
    <ids-layout-grid cols="2" padding="md">
      <ids-layout-grid-cell>
        <ids-text font-size="12" type="h1">Reactive forms</ids-text>
        <br>

        <ids-checkbox value="checkbox0" label="IDS Checkbox" id="check-0" formControlName="testCheckbox" ngDefaultControl></ids-checkbox>
        <br>

        <ids-checkbox-group label="IDS Checkbox Group" formControlName="testCheckboxGroup" ngDefaultControl>
          <ids-checkbox value="checkbox1" label="checkbox one" id="check-1"></ids-checkbox>
          <ids-checkbox value="checkbox2" label="checkbox two" id="check-2"></ids-checkbox>
        </ids-checkbox-group>
        <br>

        <ids-date-picker label="IDS Date Picker (object)" id="date-1" mask formControlName="testDateObject" ngDefaultControl></ids-date-picker>

        <ids-date-picker label="IDS Date Picker (string)" id="date-2" mask formControlName="testDateString" ngDefaultControl></ids-date-picker>

        <ids-time-picker label="IDS Time Picker" id="timepicker-1" autoselect mask="true" formControlName="testTimePicker" ngDefaultControl></ids-time-picker>

        <ids-color-picker label="IDS Color Picker" id="colorpicker-1" formControlName="testColor" ngDefaultControl></ids-color-picker>

        <ids-input type="text" label="IDS Input" formControlName="testInput" ngDefaultControl></ids-input>

        <ids-lookup label="IDS Lookup" clearable id="lookup-1" formControlName="testLookup" ngDefaultControl></ids-lookup>

        <ids-textarea label="IDS Textarea " formControlName="testTextarea" ngDefaultControl></ids-textarea>
      </ids-layout-grid-cell>

      <ids-layout-grid-cell>
        <br>
        <br>

        <ids-dropdown label="IDS Dropdown" validate="required" formControlName="testDropdown" ngDefaultControl>
          <ids-list-box>
            <ids-list-box-option value="blank" id="blank" aria-label="Blank"></ids-list-box-option>
            <ids-list-box-option value="opt1" id="opt1-d4">Option One</ids-list-box-option>
            <ids-list-box-option value="opt2" id="opt2-d4">Option Two</ids-list-box-option>
            <ids-list-box-option value="opt3" id="opt3-d4">Option Three</ids-list-box-option>
            <ids-list-box-option value="opt4" id="opt4-d4">Option Four</ids-list-box-option>
            <ids-list-box-option value="opt5" id="opt5-d4">Option Five</ids-list-box-option>
            <ids-list-box-option value="opt6" id="opt6-d4">Option Six</ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-dropdown label="IDS Dropdown 0-indexed" validate="required" formControlName="testDropdown0Index" ngDefaultControl [attr.value]=0>
          <ids-list-box>
            <ids-list-box-option group-label>Destinations</ids-list-box-option>
            <ids-list-box-option *ngFor="let field of testDropdown0IndexValues; let i = index" [attr.id]="i" [attr.value]="i"
                >{{ field.address.line1 }} ({{ field.address.city }}, {{ field.address.state }})
            </ids-list-box-option>
          </ids-list-box>
        </ids-dropdown>

        <ids-multiselect label="IDS Multiselect" formControlName="testMultiselect" ngDefaultControl>
          <ids-list-box>
            <ids-list-box-option value="blank" id="opt0-ms" aria-label="Blank"><ids-checkbox
                label="Option Blank"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt1" id="opt1-ms"><ids-checkbox
                label="Option One"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt2" id="opt2-ms"><ids-checkbox
                label="Option Two"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt3" id="opt3-ms"><ids-checkbox
                label="Option Three"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt4" id="opt4-ms"><ids-checkbox
                label="Option Four"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt5" id="opt5-ms"><ids-checkbox
                label="Option Five"></ids-checkbox></ids-list-box-option>
            <ids-list-box-option value="opt6" id="opt6-ms"><ids-checkbox
                label="Option Six"></ids-checkbox></ids-list-box-option>
          </ids-list-box>
        </ids-multiselect>

        <ids-radio-group label="IDS Radio Group" formControlName="testRadio" ngDefaultControl>
          <ids-radio value="radio1" label="radio one"></ids-radio>
          <ids-radio value="radio2" label="radio two" checked="true"></ids-radio>
        </ids-radio-group>

        <ids-search-field label="IDS Search Field" value="Cellphone" clearable formControlName="testSearchField" ngDefaultControl></ids-search-field>

        <ids-spinbox label="IDS Spinbox" value="0" formControlName="testSpinbox" ngDefaultControl></ids-spinbox>

        <ids-switch label="IDS Switch" formControlName="testSwitch" ngDefaultControl></ids-switch>

        <ids-upload label="IDS Upload" formControlName="testUpload" ngDefaultControl></ids-upload>

        <ids-upload-advanced label="IDS Upload Advanced" formControlName="testUploadAdvanced" ngDefaultControl></ids-upload-advanced>

      </ids-layout-grid-cell>
      <ids-layout-grid cols="1" gap="md">
        <ids-layout-grid-cell>
            <!--
            <ids-input type="text" label="Last Name" validate="required"></ids-input>
            <ids-input type="text" label="Email Address" placeholder="Company@address.com" validate="email required"></ids-input>
            <ids-input type="text" label="Disabled" disabled="true" value="Field not editable"></ids-input>
            <ids-input type="text" label="Readonly" readonly="true" value="02006"></ids-input>
            <ids-input type="text" label="Dirty Tracking" dirty-tracker="true" placeholder="Dirty Tracking" value="02006"></ids-input>
            <ids-input type="text" label="Clearable" placeholder="Clearable text Field" clearable="true"></ids-input>
            <ids-input type="text" label="Autoselect" value="Text select on focus" autoselect="true"></ids-input>
            -->
          <button type="submit">Submit</button>
          <ids-button id="update" (click)="updateModel()">Update Values</ids-button>
        </ids-layout-grid-cell>
      </ids-layout-grid>
    </ids-layout-grid>
  </ids-container>
</form>