<ids-container padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-text font-size="12" type="h1">Scroll View (with Layout Grid)</ids-text>
  </ids-layout-grid>
  <ids-layout-grid cols="1" cols-md="1" padding-x="md">
    <ids-layout-grid-cell col-span="1">

      <ids-scroll-view #scrollView hide-on-one="true">
        <div *ngFor="let items of dataset" slot="scroll-view-item">
          <ids-layout-grid
            auto-fit="true"
            cols="4"
            rows="3"
            cols-sm="6"
            rows-sm="2"
            gap="md"
            flow-sm="column"
            flow="row">
            <ids-layout-grid-cell col-span="2" *ngFor="let item of items" align-content="center">
              <ids-icon [icon]="item.icon" [attr.status-color]="item.color || ''" height="128" width="128"></ids-icon>
              <ids-text font-size="20" text-align="center">{{ item.name }}</ids-text>
            </ids-layout-grid-cell>
          </ids-layout-grid>
        </div>
      </ids-scroll-view>

    </ids-layout-grid-cell>
  </ids-layout-grid>

  <ids-layout-grid cols="1" padding="md">
    <ids-layout-grid-cell col-span="1">
      <ids-button 
        #toggleDatasetBtn
        id="toggle-dataset"
        appearance="secondary"
        [attr.text]="this.toggled ? 'Show original dataset' : 'Show alternate dataset'"
        (click)="onDatasetToggle()"></ids-button>
      <ids-button
        #showOneItemBtn
        id="show-one-item"
        appearance="secondary"
        text="Show one item"
        [disabled]="this.singlePage"
        (click)="onDisplayOneItem()"></ids-button>
      </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>