{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jsx-a11y",
    "react",
    "react-hooks"
  ],
  "rules": {
    "react/no-unescaped-entities": 0,
    "react/prop-types": 0,
    "no-unused-vars": ["warn"]
  },
  "globals": {
    "window": true,
    "document": true,
    "fetch": true,
    "Promise": true,
    "process": true,
    "module": true,
    "console": true,
    "jestPuppeteer": true,
    "page": true,
    "browser": true,
    "context": true
  },
  "env": {
    "jest": true
  },
  "parser": "@babel/eslint-parser"
}
