<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid auto-fit="true" padding="md">
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Ids Upload Advanced</ids-text>
      <ids-text>To slow down the upload use Chrome dev tools network tab, also if this example is statically deployed on a test server the upload will fail. To see this working run locally.</ids-text>
    </ids-layout-grid-cell>
  </ids-layout-grid>

  <ids-layout-grid cols="3" gap="md">

    <ids-layout-grid-cell>
      <ids-text>Basic</ids-text>
      <ids-upload-advanced id="elem-upload-advanced-basic" url="http://localhost:4300/upload"></ids-upload-advanced>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell>
      <ids-text>Disabled</ids-text>
      <ids-upload-advanced id="elem-upload-advanced-disabled" [attr.disabled]="true" url="http://localhost:4300/upload"></ids-upload-advanced>
    </ids-layout-grid-cell>

    <ids-layout-grid-cell>
      <ids-text>Images &amp; PDF Only, Max (5) files</ids-text>
      <ids-upload-advanced id="elem-upload-advanced-limit" accept="image/*, .pdf" max-files="5" url="http://localhost:4300/upload"></ids-upload-advanced>
    </ids-layout-grid-cell>

  </ids-layout-grid>
</ids-container>