<ids-layout-grid auto="true">
  <ids-text font-size="12" type="h1">Tooltips (when ellipsis text)</ids-text>
</ids-layout-grid>
<ids-layout-grid cols="11" gap="md" auto="true">
  <ids-layout-grid-cell>
    <ids-text overflow="ellipsis" tooltip="true">Some long text that is overflowing and long</ids-text>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
  <ids-layout-grid-cell>
  </ids-layout-grid-cell>
</ids-layout-grid>