<ids-container language="en" locale="en-US" padding="8" hidden>
  <ids-theme-switcher mode="light"></ids-theme-switcher>
  
  <ids-layout-grid cols="3" gap="md">
    <ids-layout-grid-cell>
      <ids-text font-size="12" type="h1">Ids Input</ids-text>
      <br>
      <ids-input id="test-input" type="text" label="First Name" placeholder="Normal text Field"></ids-input>
      <ids-input type="text" label="Last Name" validate="required"></ids-input>
      <ids-input type="text" label="Email Address" placeholder="Company@address.com" validate="email required"></ids-input>
      <ids-input type="text" label="Disabled" disabled="true" value="Field not editable"></ids-input>
      <ids-input type="text" label="Readonly" readonly="true" value="02006"></ids-input>
      <ids-input type="text" label="Dirty Tracking" dirty-tracker="true" placeholder="Dirty Tracking" value="02006"></ids-input>
      <ids-input type="text" label="Clearable" placeholder="Clearable text Field" clearable="true"></ids-input>
      <ids-input type="text" label="Autoselect" value="Text select on focus" autoselect="true"></ids-input>
    </ids-layout-grid-cell>
  </ids-layout-grid>
</ids-container>